@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-100;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  margin: 0.5rem;
  padding: 0.5rem;
  width: calc(100% - 2rem);
  max-width: 600px;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
}
